.mon-image {
    width: 200px;
    height: 150px;
    border: 2px solid #fff;
    margin: 10px;
  }
  body {
    background-image: url('lightMood.jpg');
    background-image: url('darkMood.jpg');
    background-size: cover;
    body {
      background-repeat: no-repeat; /* Empêche la répétition de l'image */
      background-size: cover; /* Adapte l'image à la taille de l'écran */
      background-position: center; /* Centre l'image */
  }
  }
  .mon-image:hover {
    opacity: 0.5;
  }

  .image-gauche {
    float: left;
  }
  .image-droite {
    float: right;
  }
